/* =======  4CakeCravings.com CSS  ======= 
			Created and Powered by  
	NEXT DIMENSION WEB DESIGN STUDIOS
	A subsidiary of UNIQUEONE NETWORKS, LLC
   =======		Copyright 2014 		=======	*/


/* =======  CSS RESET  ======= */

@font-face {
	font-family: bodyFont;
	src: url("../fonts/MarcellusSC-Regular.ttf");
}

body{
	font: 1em/1.3em bodyFont, Arial, Helvetica, sans-serif;
}

pre,code,tt{
	font:1em/1.5em 'Andale Mono','Lucida Console', monospace;
}

h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:bold;
}
em,i,dfn{
	font-style:italic;
}

dfn{
	font-weight:bold;
}

p,code,pre,kbd{
	margin:0 0 1.5em 0;
}

blockquote{
	margin:0 1.5em 1.5em 1.5em;
}

cite{
	font-style:italic;
}

li ul,li ol{
	margin:0 1.5em;
}

ul,ol{
	margin:0 1.5em 1.5em 1.5em;
}

ul li{
	list-style-type:disc;
}

ol li{
	list-style-type:decimal;
}

ol ol li{
	list-style:upper-alpha;
}

ol ol ol li{
	list-style:lower-roman;
}

ol ol ol ol li{
	list-style:lower-alpha;
}

dl{
	margin:0 0 1.5em 0;
}

dl dt{
	font-weight:bold;
}

dd{
	margin-left:1.5em;
}

table{
	margin-bottom:1.4em;
	width:100%;
}

th{
	font-weight:bold;
}

th,td,caption{
	padding:4px 10px 4px 5px;
}

tfoot{
	font-style:italic;
}

sup,sub{
	line-height:0;
}

abbr,acronym{
	border-bottom:1px dotted;
}

address{
	margin:0 0 1.5em;
	font-style:italic;
}

del{
	text-decoration:line-through;
}

pre{
	margin:1.5em 0;
	white-space:pre;
}

img.centered,.aligncenter,div.aligncenter{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

img.alignright{
	display:inline;
}

img.alignleft{
	display:inline;
}

.alignright{
	float:right;
	margin-left:10px;
}

.alignleft{
	float:left;
	margin-right:10px;
}

* html .clearfix{
	height:1%;
}

*+html .clearfix{
	display:inline-block
}

.clearfix:after{ 
	content:
}

.specialHeading {
	width: 106%;
	margin: -0.063em -0.625em 0;
	background: rgb(234,185,45); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhYjkyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzk4MTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,185,45,1)), color-stop(100%,rgba(199,152,16,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-8 */
	border-radius: 0.250em 0.250em 0 0;
	border-bottom: 0.125em solid #e25899;
	padding: 0.313em;
	float: left;
	overflow: hidden;
	color: #FAEF2D;
	text-shadow: 0.063em 0.063em 0.250em #000;
}

.specialHeading1 {
	margin: 0.625em;
	color: #FAEF2D;
	text-shadow: 0.063em 0.063em 0.250em #000;
}

html, body, .container {
    height: 100%;
}
/* =======  END CSS RESET  ======= */

/* basic attributes

element {
	width:;
	margin:;
	padding:;
	background:;
	border:;
	border-radius:;
	color:;
}

*/

body {
	width: 60.000em;
	margin: 0 auto;
	/*padding: 0.625em;*/
background: rgb(242,233,126); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZTk3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWRhMzYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(242,233,126,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,233,126,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(242,233,126,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(242,233,126,1) 0%,rgba(241,218,54,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(242,233,126,1) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(242,233,126,1) 0%,rgba(241,218,54,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e97e', endColorstr='#f1da36',GradientType=0 ); /* IE6-8 */
	border:;
	border-radius:;
	color:;
}

/* =======  TOP NAV BAR  ======= */


#upperNavBar {
	width: 58.750em;
	/*position: relative;*/
	margin: 0;
	padding: 0.625em;
	/*background: #F06594;*/
	border:;
	border-radius:;
	color:;
	overflow: hidden;
}



#upperNavBar h1 {
	margin: 0 0.250em 0.625em 10em;
	float: left;
}

/* =======  BUTTONS  ======= */

.orderBtn {
	width: 12em;
	margin: 0 -0.313em 0 0.625em;
	padding:0.625em;
background: rgb(216,170,239); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3JSIgc3RvcC1jb2xvcj0iI2Q4YWFlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzkzMWU5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkxJSIgc3RvcC1jb2xvcj0iIzhhMDU4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(216,170,239,1) 7%, rgba(147,30,158,1) 61%, rgba(138,5,142,1) 91%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(7%,rgba(216,170,239,1)), color-stop(61%,rgba(147,30,158,1)), color-stop(91%,rgba(138,5,142,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(216,170,239,1) 7%,rgba(147,30,158,1) 61%,rgba(138,5,142,1) 91%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(216,170,239,1) 7%,rgba(147,30,158,1) 61%,rgba(138,5,142,1) 91%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(216,170,239,1) 7%,rgba(147,30,158,1) 61%,rgba(138,5,142,1) 91%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(216,170,239,1) 7%,rgba(147,30,158,1) 61%,rgba(138,5,142,1) 91%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8aaef', endColorstr='#8a058e',GradientType=0 ); /* IE6-8 */
	border: 0.125em solid #6E047B;
	border-radius: 0.313em;
	box-shadow: 0.125em 0.250em 0.250em #222;
	color: #FAEF2D;
	float: right;
}

/* =======  HEADER CONTENT  ======= */

header {
	width: 60.000em;
	margin: 0 auto;
	padding: 0.625em;
	/*background: #F06594;*/
	background: rgb(234,159,214); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0JSIgc3RvcC1jb2xvcj0iI2VhOWZkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U4MTk5ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjU4OTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(234,159,214,1) 4%, rgba(232,25,159,1) 50%, rgba(226,88,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,rgba(234,159,214,1)), color-stop(50%,rgba(232,25,159,1)), color-stop(100%,rgba(226,88,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(234,159,214,1) 4%,rgba(232,25,159,1) 50%,rgba(226,88,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234,159,214,1) 4%,rgba(232,25,159,1) 50%,rgba(226,88,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234,159,214,1) 4%,rgba(232,25,159,1) 50%,rgba(226,88,153,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(234,159,214,1) 4%,rgba(232,25,159,1) 50%,rgba(226,88,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea9fd6', endColorstr='#e25899',GradientType=0 ); /* IE6-8 */
	/*border-bottom: 0.125em solid #FAEF2D;*/
	border-radius:;
	color:;
	overflow: hidden;
}

header h1 {
	float: left;
}

nav {
	width: 60.000em;
	margin: 0;
	padding: 0.625em;
	background: rgb(234,185,45); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhYjkyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzk4MTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,185,45,1)), color-stop(100%,rgba(199,152,16,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-8 */
	border-bottom: 0.125em solid #EAB92D;
	border-radius:;
	color:;
	overflow: hidden;
}

nav ul {
	width: 60.000em;
	margin: auto auto;
	padding: 0 0.250em;
	background:;
	border:;
	border-radius:;
	color:;
	overflow: hidden;
}

nav li {
	width: 9.285em;
	padding: 0;
	background:;
	border-right: 0.125em solid #FAEF2D;
	border-radius:;
	color:;
	display: inline;
	float: left;
	text-align: center;
}

nav li:last-of-type {
	border-right: none;
}

nav a {
	width:;
	margin: auto auto;
	padding: 0 0.313em;
	border:;
	border-radius:;
	color:;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
}

section {
	width: 60.000em;
	margin:;
	padding: 0.625em;
	background: #c79810;
	border:;
	border-bottom: 0.250em solid #EAB92D;
	border-radius:;
	color:;
	overflow: hidden;
	/*outline: 1px dashed blue;*/
}


/* =======  INNER SECTION CONTENT  ======= */

.frame { width: 100%; height: 160px; padding: 0; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { float: left; margin: 0 5px 0 0; padding: 0; width: 120px; height: 100%; }

.scrollbar { width: 100%; height: 10px; }
.scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 */
    height: 100%;
    background: #222;
}

#connectBox {
	margin: 0 0.313em;	
	padding:;
	border:;
	border-radius:;
	color:;
	float: right;
}


#connectBox a {
	margin: 0 0.313em;	
	padding:;
	border:;
	border-radius:;
	color:;
}


/* =======  SOCIAL ICONS  ======= */

#connectBox #facebook {
	width: 36px;
	height: 36px;
	margin:;
	padding:;
	background: url("../images/cakeCravingsSocials.png") no-repeat;
	background-position: 0 0;
	display: block;
	float: left;
	border-radius: 0.125em;
	color:;
}

#connectBox #facebook:hover {
	background-position: 0 -36px;
}

#connectBox #linkedIn {
	width: 36px;
	height: 36px;
	margin:;
	padding:;
	background: url("../images/cakeCravingsSocials.png") no-repeat;
	background-position: -39px 0;
	display: block;
	float: left;
	border:;
	border-radius:;
	color:;
}

#connectBox #linkedIn:hover {
	background-position: -39px -36px;
}

#connectBox #googlePlus {
	width: 36px;
	height: 36px;
	margin:;
	padding:;
	background: url("../images/cakeCravingsSocials.png") no-repeat;
	background-position: -76px 0;
	display: block;
	float: left;
	border:;
	border-radius:;
	color:;
}

#connectBox #googlePlus:hover {
	background-position: -76px -36px;
}

#connectBox #twitter {
	width: 36px;
	height: 36px;
	margin:;
	padding:;
	background: url("../images/cakeCravingsSocials.png") no-repeat;
	background-position: -39px 0;
	display: block;
	float: left;
	border:;
	border-radius:;
	color:;
}

#connectBox #twitter:hover {
	background-position: -39px -36px;
}
/* =======  END of SOCIAL ICONS  ======= */

/* =======  CAKE GALLERY  ======= */

.cakeGallery {
	width:;
	margin:;
	padding: 0.625em;
	background: ;
	border:;
	border-radius:;
	color:;
}

.cakeGallery img {
	width: 200px;
	height: 200px;
	margin: 0.625em;
	padding:;
	background:;
	border: 0.125em solid #FAEF2D;
	border-radius: 0.250em;
	color:;
	box-shadow: 0.125em 0.250em 0.313em #222;
}

/* =======  END of CAKE GALLERY  ======= */


/* =======  ARTICLE  ======= */

#menus {
	width: 58.750em;
	margin: 0 auto;
	padding: 0.625em;
}

.cakes {
	width: 16.063em;
	height: 25.000em;
	margin: 0.313em 0.625em;
	padding: 0 0.938em;
	background: #DCB773;
	border: 0.125em dashed #e25899;
	border-radius: 0.250em 0.250em 0 0;
	color:;
	float: left;
	overflow: hidden;
}

.cakes img, .about img {
	width: 7.813em;
	height: 7.813em;
	margin: 0.250em 0 0 -0.625em;
	margin-right: 10px;
	padding-right: 0.125em;
	background:;
	border: 0.250em solid #EAB92D;
	box-shadow: 0.125em 0.125em 0.250em #222;
	border-radius: 0.313em;
	color:;
	float: left;

}

.about {
	padding: 0.938em;
}


/* =======  FORM ELEMENTS  ======= */
form {

}

fieldset {
	/*width: 40.625em;*/
	/*outline: 1px dashed red;*/
}

label, input {
	padding: 0.313em;
	/*outline: 1px dashed blue;*/
}

label {
	width: 6.250em;
	margin: 0.625em 0.313em;
}

label{
	margin: 0.625em 0.313em;
	text-align: left;
	display: inline-block;
}

input[type = text], [type = email], [type = tel] {
	margin: 0.625em 0.313em 0.625em 0;
	width: 15.625em;
	display: inline-block;
	border-radius: 0.125em;
	border: none;
	box-shadow: 0.063em 0.063em 0.250em #000;
}

label + input {
	width: 250px;
}

label + input {
	/*float: right;*/
}



.chosen-container-single .chosen-single {
	border: none;
	border-radius: 2px;
	box-shadow: 0.125em 0.063em 0.125em #000;

}


/* =======  FOOTER CONTENT  ======= */

footer {
	width: 60.000em;
	margin: 0 auto;
	padding: 0.625em;
	background: rgb(234,185,45); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhYjkyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzk4MTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,185,45,1)), color-stop(100%,rgba(199,152,16,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); /* IE6-8 */
	border:;
	border-radius:;
	color:;
	overflow: hidden;
}

#cravingsLogo {
	width: 27.000em;
	margin: auto auto;
	padding: 0.625em;
	background:;
	border:;
	border-radius:;
	color: #FAEF2D;
	text-shadow: 0.063em 0.063em 0.250em #000;
	float: left;
	display: block;
}

#cravingsLogo ul li {
	margin: 0 0.313em;
	text-indent: -4.5em;
	list-style-type: none;
}

#NDWDSLogo {
	width: 27.000em;
	margin: auto auto;
	padding: 0.625em;
	background:;
	border:;
	border-radius:;
	color: #FAEF2D;
	text-shadow: 0.063em 0.063em 0.250em #000;
	float: right;
	display: block;
}


#NDWDSLogo h2 {
	margin: -1em -3.3em 0;
	background: url("../images/NDWDS Logo-2014.png") no-repeat;
	height: 88px;
	text-indent: -9999em;

}

#NDWDSLogo ul li {
	margin: 0 0.313em;
	text-indent: -4.5em;
	list-style-type: none;
}


#footerNav {
	width: 58.75em;
	margin: -1.3em 0 auto 0.250em;
	padding: 0.625em;
	border:;
	border-radius: 0.250em;
	color:;
	overflow: hidden;
	clear: both;
}

#footerNav li {
	width: 9.29em;
	margin:;
	padding: 0.250em;
	background:;
	border:;
	border-radius:;
	color:;
	display: inline;
	float: left;
	text-align: center;
}

#footerNav a {
	text-decoration: none;
}


